/* 전체 페이지 넓이 확장 */
.block-container {
  max-width: 100% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  line-height: 1.6;
}

/* Swagger iframe 왼쪽 정렬 */
iframe {
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
  border-radius: 12px;
  border: none;
}

/* Top 버튼 위치 */
#scroll-btn {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
